{
	"data": "ENC[AES256_GCM,data:/9N0Fso7DND1it+W8M+obAB70EnSGCVjDqPTaVU0rxK0356doKQie74K3FlxKp+GOw2cf5Y1nbi6/aeuqc79I/o1KMzHPjEp4mix/HzNRmxbH7c9pgm1OVHNgPkbMI9CRtPntgcrwLzMZdkkLQUS7yxLHFeoqXmGoB63fvbxg8yoKO1QzwbwaFaYf0kIGk/jbTfIElDPUoKmt3h0Pgz0TtgF0ErcnOq5BHKrTFZs0uW4iBBgB/L04gWPjzBzOvqO2X//L+fE80PJ03/v2KCKr9bZOUSJepNi6K2PGaeU4GmAbMiB4o3CNknsX3Mbve+eTFZYG8vaOwaLeQyGb6nAYEnCyLZwjeBECTAaxQRVPVwta8+M/HcFAJFY+cVQWDoLWt4nDwkJ15dp5+ln4PRW4Tg8dLtYhTJsQ1jVEWsr+xu84c4n1QSwYWpzntZ5NCn/LQpm1hK1tTX16KTsoSdxVeBij4xYY2RpWvtLDIUtCbFzHQ2IufLP42wuM8TwXmaBxn1bG5D4IN9UHPDuQ+XfLkZ/RUfhnm8Gsg7q08+nXQD2gRBO5Zs32xPrvAmlwkAcEopg7Cgl9Vg=,iv:X0MKT2APMuIPztr3AKENmRmEhK69ghnJKCMf+1+kRiE=,tag:9wUUfXUQ0NaIAicq8VH75g==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBnblA0cmVtM09FalJHKzh2\nSWVyUzY3QzAvdWFwT1VDUHdDK2ZBQlVSRVZzCkRFcHNuWU81c2ZKVzdWdTQwL3ZI\nTHMvMHRRMnROMzJPTW5EOEM2M2diOEkKLS0tIEdkY2FVcytjTFJoV2Fhb01ld1V4\nMWZ2NDhzbHJ5NEJvZmQ4a0Z6emtVNncKoSMxm78v4IYtKEYEHvp+Wp9WiE2wMaqZ\nG+WUvnnrOKaUQAsBzP6PBr5ATT7j2eOSa5Hf+tGZ4d1F920srVW9IA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-06-13T18:45:57Z",
		"mac": "ENC[AES256_GCM,data:1wzL2tOTn2hlnM3fu7oKRzb1ogygnQBcd7zRlOGtbFU+8h+CcOusX1KCnLS/r33MvymuO9sDpMPJWdleIDZjwsXPtJOnnqDhXEtFxWH2xzwjdFNeaIhfLC4yiSvXUktToRb+Wj8iCICQvxT/W2/W8iDSDWrAqgr1ESRte6KeNfM=,iv:dgZLLV+OfAMnEkrE/FmFSww8Z95PLSsOq+ifdq+P7UA=,tag:gkEDKYo8x0z4Dimth0H80A==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
